<div class="main-div">
  <mat-card class="forgot-card">
    <mat-toolbar color="primary" class="login_page_THeading">
      Forgot Password
    </mat-toolbar>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          aria-label="Email for password reset"
        />
        <mat-error *ngIf="email?.touched && email?.errors?.['required']"
          >Email is required</mat-error
        >
        <mat-error *ngIf="email?.touched && email?.errors?.['email']"
          >Invalid email format</mat-error
        >
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>

      <div class="button-row">
        <a routerLink="/">Login</a>
      </div>
    </form>
  </mat-card>
</div>
