<h1 style="padding: 20px">Angular HttpClient Demo</h1>

<div class="container">
  <app-http-get></app-http-get>
  <app-async-pipe></app-async-pipe>
  <app-http-post></app-http-post>
  <app-http-put></app-http-put>
  <app-http-delete></app-http-delete>
  <app-http-error></app-http-error>
  <app-http-fork-join></app-http-fork-join>
  <app-http-switch-map></app-http-switch-map>
  <app-http-interceptor></app-http-interceptor>
  <app-http-loading></app-http-loading>
  <app-jwt-auth></app-jwt-auth>
</div>

<div class="container single-column">
  <app-caching></app-caching>
  <app-pagination></app-pagination>
  <app-filtering></app-filtering>
  <app-searchable-pagination></app-searchable-pagination>
</div>
