<div class="container">
  <app-basic-injection></app-basic-injection>
  <app-inject-function></app-inject-function>
  <app-singleton-cpt-a></app-singleton-cpt-a>
  <app-singleton-cpt-b></app-singleton-cpt-b>
  <app-component-provider></app-component-provider>
  <app-token-injection></app-token-injection>
  <app-factory-provider></app-factory-provider>
  <app-parent></app-parent>
  <app-optional-di></app-optional-di>
  <app-environment-injector></app-environment-injector>
  <app-multi-provider></app-multi-provider>
</div>

<div class="container single-column">
  <app-interceptor-di></app-interceptor-di>
  <app-singleton-vs-component-provider></app-singleton-vs-component-provider>
</div>
