<h1 style="padding: 20px">Angular Pipes Demo</h1>

<div class="container">
  <app-multiply-pipes></app-multiply-pipes>

  <app-async-pipes></app-async-pipes>

  <app-object-format-pipe></app-object-format-pipe>

  <app-slice-pipes></app-slice-pipes>

  <app-text-pipes></app-text-pipes>

  <app-number-pipes></app-number-pipes>

  <app-date-pipes></app-date-pipes>

  <app-custom-pipes></app-custom-pipes>

  <app-chaining-pipe></app-chaining-pipe>

  <app-filter-pipes></app-filter-pipes>

  <app-http-async-pipe></app-http-async-pipe>
</div>

<div class="container single-column">
  <app-debug-pipe></app-debug-pipe>

  <app-json-pipes></app-json-pipes>

  <app-sort-pipe></app-sort-pipe>

  <app-pure-vs-impure-pipe></app-pure-vs-impure-pipe>
</div>
